.filter-order-container {
    display: flex;
    flex-direction: row; /* Change from column to row */
    justify-content: space-between;
    padding: 20px;
    background-color: #f4dcb5; /* Old Yellow/Brown */
}

.filter-order-container div {
    display: flex;
    flex-direction: row; /* Change from column to row */
    align-items: center;
}

.filter-order-container select {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #38312b; /* Dark Brown */
    background-color: #f0f0f0; /* Light Gray */
    color: #38312b; /* Dark Brown */
    font-size: 20px; /* Adjust as needed */
    color: #38312b;
    
}

.filter-order-container label {
    font-size: 20px; /* Adjust as needed */
    color: #38312b; /* Dark Brown */
}

.top-container {
    margin-top: -50px; /* Adjust as needed */
}
