form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 70%; /* Reduce the width of the form */
    margin: 0 auto;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form label {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

form input, form select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #38312b;
    background-color: #c5c3b6; /* Light Gray */
    color: #38312b;
    font-size: 24px;
    width: 60%;
    margin-left: auto; /* Add this line */
    margin-right: auto;
}

form button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #38312b;
    color: #f0f0f0;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background-color: #f0f0f0;
    color: #38312b;
}

.inputGroup {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-direction: row;
}

.button:disabled {
    background-color: #38312b; /* Change this to the initial color of the button */
    cursor: not-allowed; /* This will change the cursor to a "not allowed" cursor */
}

.button:disabled:hover {
    background-color: #38312b; /* This will prevent the color change on hover */
}